affine==2.4.0
asgiref==3.11.1
attrs==25.4.0
certifi==2026.2.25
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
Django==6.0.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
fiona==1.10.1
geopandas==1.1.2
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
psycopg2-binary==2.9.11
PyJWT==2.12.1
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
rasterio==1.5.0
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
